body {
  margin: 0;
  padding: 1em;
  background: transparent;
  text-align: center;
}

model-viewer {
  width: 100%;
  max-width: 700px;
  height: 500px;
  margin: 0 auto;

  background: transparent;

  pointer-events: auto;
  touch-action: none;

  cursor: grab;
}

model-viewer:active {
  cursor: grabbing;
}
